<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乐淘管理系统-首页</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <!-- 引入 bootstrap-validator 的css文件 -->
    <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.css">
    <!-- 引入进度条css文件 -->
    <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
    <!-- 引入自己的css文件 -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/user.css">
</head>

<body>
    <!-- 左边的侧边栏 -->
    <div class="yc_aside">
        <!-- 品牌标题 -->
        <div class="brand">
            <a href="index.html">prawn-yom</a>
        </div>
        <!-- 用户信息 -->
        <div class="user">
            <img src="./images/timg (1).jpg" alt="">
            <p>super管理员</p>
        </div>
        <!-- 导航栏 -->
        <div class="nav">
            <ul>
                <li>
                    <a href="user.html" class="now">
                        <i class="glyphicon glyphicon-user"></i>
                        用户管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="glyphicon glyphicon-list"></i>
                        分类管理
                    </a>
                    <div class="child" style="display:none;">
                        <a href="firth.html">一级分类</a>
                        <a href="firth.html">二级分类</a>
                    </div>
                </li>
                <li>
                    <a href="product.html">
                        <i class="glyphicon glyphicon-tags"></i>
                        商品管理
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- 右边的内容 -->
    <div class="yc_main">
        <!-- 顶部通栏 -->
        <div class="topbar">
            <a href="javascript:;" class="pull-left btn_menu"><i class="glyphicon glyphicon-align-justify "></i></a>
            <a href="javascript:;" class="pull-right btn_logout"><i class="glyphicon glyphicon-log-out "></i></a>
        </div>

        <!-- 为了让内容左右有padding间距 所以使用了bootstrap这个container-fluid盒子 因为它有左右15px的padding间距 -->
        <div class="container-fluid">
            <!-- 面包屑导航(路径导航) -->
            <ol class="breadcrumb">
                <li><a href="#">管理系统</a></li>
                <li><a href="#">用户管理</a></li>
            </ol>

            <!-- 主内容区 -->
            <div class="yc_content">
                <!-- 表格 -->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td width='10%'>序号</td>
                            <td width='30%'>用户名</td>
                            <td width='30%'>手机号</td>
                            <td width='20%'>状态</td>
                            <td width='10%'>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 挖个坑 -->
                    </tbody>
                </table>
                <!-- 分页 -->
                <div class="text-right pull-right">
                    <ul id="paginator"></ul>
                </div>
            </div>
        </div>
    </div>


    <!-- 模态框 -->
    <!-- 退出弹出时弹出 -->
    <div class="modal fade" tabindex="-1" id="logoutModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger"><i class="glyphicon glyphicon-info-sign"></i>您确定要退出后台管理系统吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn_confirm">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 禁用启用时弹出 -->
    <div class="modal fade" tabindex="-1" id="userModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger"><i class="glyphicon glyphicon-info-sign"></i>您确定要执行此操作吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn_edit">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <script type='text/html' id="tableTem">
        {{each rows v i}}
        <tr>
            <td>{{(page-1)*size+i+1}}</td>
            <td>{{v.username}}</td>
            <td>{{v.mobile}}</td>
            <td>{{v.isDelete? '正常':'禁用'}}</td>
            <td data-id='{{v.id}}'>
                <% if(v.isDelete ===1 ){ %>
                    <button class="btn btn-danger btn-sm">禁用</button>
                    <% }else{ %>
                        <button class="btn btn-success btn-sm">启用</button>
                        <% } %>
            </td>
        </tr>
        {{/each}}
    </script>



    <!-- 引入jQuery文件 -->
    <script src="./lib/jquery/jquery-1.12.4.js"></script>
    <!-- 引入 template 框架 -->
    <script src="./lib/art-template-master/lib/template-web.js"></script>
    <!-- 引入框架 bootstrap的js文件 -->
    <script src="./lib/bootstrap/js/bootstrap.js"></script>
    <!-- 引入 登录检验插件 bootstrap-validator 的js文件 -->
    <script src="./lib/bootstrap-validator/js/bootstrapValidator.js"></script>
    <!-- 引入 分页插件 -->
    <script src="./lib/bootstrap-paginator/bootstrap-paginator.js"></script>
    <!-- 引入 进度条插件  nprogress 的js文件 -->
    <script src="./lib/nprogress/nprogress.js"></script>
    <!-- 引入 数据图 插件 -->
    <script src="./lib/echarts/echarts.min.js"></script>
    <!-- 引入自己的js文件 -->
    <script src="./js/common.js"></script>
    <script src="./js/user.js"></script>


</body>

</html>